<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="container">
      {{ partial "header.html" . }}

      <main class="content">
      {{ block "main" . }}
      {{ end }}
      </main class="content">

      {{ partial "footer.html" . }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/slim.js"></script>
    <!-- WebFont Loader -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Source Sans Pro:400,700', 'Source Code Pro']
        }
      });
    </script>


    {{ partial "analytics.html" . }}
  </body>

</html>
