{{ define "main" }}
<article class="posts">
  <header class="post">
    <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <span class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</span>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
  <footer>
    <div class="pagination">{{ if .Prev }}
      <a class="btn previous " href="{{.Prev.Permalink}}"> Prev</a> {{ end }} {{ if .Next }}
      <a class="btn next " href="{{.Next.Permalink}}"> Next</a> {{ end }}
    </div>
  </footer>
</article>

{{ if .Params.comments }}
<!--> TODO </!-->
{{ end }}

{{ end }}
