<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>
  {{ .Title }} &middot; {{ .Site.Title }}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<link rel="manifest" href="/manifest.json">

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/appicons/apple-touch-icon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/appicons/apple-touch-icon-152x152.png">
<link rel="shortcut icon" href="/favicon.ico">

<meta name="application-name" content="Feynman's Blog">
<meta name="theme-color" content="#FFFFFF">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="https://feynmanliang.com/appicons/mstile-144x144.png">
<meta name="msapplication-notification" content="frequency=30;polling-uri=https://notifications.buildmypinnedsite.com/?feed=https://feynmanliang.com/index.xml&amp;id=1;polling-uri2=https://notifications.buildmypinnedsite.com/?feed=https://feynmanliang.com/index.xml&amp;id=2;polling-uri3=https://notifications.buildmypinnedsite.com/?feed=https://feynmanliang.com/index.xml&amp;id=3;polling-uri4=https://notifications.buildmypinnedsite.com/?feed=https://feynmanliang.com/index.xml&amp;id=4;polling-uri5=https://notifications.buildmypinnedsite.com/?feed=https://feynmanliang.com/index.xml&amp;id=5;cycle=1">

<!-- In-line CSS -->
<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/slim.css"> -->
<style>{{ readFile "themes/slim/static/css/slim.css" | safeCSS }}</style>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_CHTML' async></script>

<!-- RSS -->
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
